/* General ------------------------------------------------------------------------------- */

body {
	margin: 0;
	padding: 0;
	width: 100%;
}

h1 { 
	font-family:"Quicksand";
	font-weight: normal;
	font-size: 55px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

h2 {
	font-family:"Quicksand";
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	color: #000;
	margin: auto;
	padding-top: 20px;
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-thickness: 3px;
}

h3 {
	font-family:"Noto Sans";
   	font-weight: normal;
   	font-size: 16px;
   	margin: 5px 0;
	padding: 0;
}

h4 {
	font-family:"Noto Sans";
	font-weight: normal;
	font-size: 26px;
	color: #1a89ff;
	/*margin: 5px 0;*/
	margin: 0 0 0 0;
	padding: 0;
	padding-bottom: 8px;
}

h5 {
	font-family:"Noto Sans";
	font-weight: normal;
	font-size: 20px;
	color: #1a89ff;
	/*margin: 5px 0;*/
	padding: 0;
	margin: auto;
}

.center {
	margin: 0 auto;
}

.content {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.bodyImage img {
	width: 300px;
	height: 300px;
	padding-left: 20px;
}

/* Hover Captions ------------------------------------------------------------------------ */

#HoverWrapper {
	font: 10pt normal Arial, sans-serif;
	height: auto;
	margin: 20px auto 0 auto;
	text-align: center;
}

#mainwrapper .box {
	cursor: pointer;
	height: 250px;
	width: 250px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	position: relative;
}

#mainwrapper .box img {
	position: center;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

#mainwrapper .imageBox, .captionBox {
	position: absolute;
	top: 20px;
	left: 10px;
	height: 250px;
	width: 250px;
	border-radius: 5px;
}

#mainwrapper .captionBox {
	z-index: 1;
	overflow: hidden;
	pointer-events: none;
}

#mainwrapper .box .caption {
	font-family:"Quicksand";
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	color: #fff;
	z-index: 1;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}

#mainwrapper .box .scale-caption p {
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	-ms-transition-delay: 500ms;	
	transition-delay: 500ms;
}

#mainwrapper .box:hover .simple-caption {
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	opacity: 1;
	transform: translateY(-100%);
}

#mainwrapper .box .simple-caption {
	height: 30px;
	width: 250px;
	display: block;
	bottom: -30px;
}

/* The wrapper/hover text doesn't want to vertically center correctly, so force it with this */
#mainwrapper .box .simple-caption p {
	margin-top: 4px;
}

/* Header and Navigation Bar ------------------------------------------------------------- */

#header { 
	width: 100%;
	background-color: #282828;
	height: 60px;
	position: fixed;
	z-index: 2;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
	margin-top: -60px;
}

.headerContent {
	margin-left: 20px;
	margin-right: 20px;
}

#logo a {
	color: #fff;
	text-decoration: none;
	float: left;
	font-size: 30px;
	margin-top: 12px;
	color: #fff;
	font-family:"Montserrat";
	font-weight: bold;
}

#nav {
	float: right;
	margin-top: 10px;
}
	
#nav ul {
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;	
}

#nav li {
	margin-top: 9px;	
	float: right;
	padding-left: 21px;
}

#nav li a {
	color: #fff;
	opacity:0.6;
	font-size: 16px;
	text-decoration: none;
	font-family: 'Montserrat';
	font-weight: bold;
}

#nav li a.active {
	color: #fff;
	opacity:1;
	border-bottom: 2px solid #fff;
}

#nav li a:hover {
	color: #fff;
	opacity: 1;
}

/* Accordion ----------------------------------------------------------------------------- */

.container1 .content, .container2 .content, .container3 .content, .container4 .content, .container5 .content, .container6 .content, .container7 .content,
.container8 .content, .container9 .content, .container10 .content, .container11 .content, .container12 .content, .container13 .content, .container14 .content,
.container15 .content, .container16 .content, .container17 .content, .container18 .content, .container19 .content, .container20 .content, .container21 .content,
.container22 .content, .container23 .content {
    display: none;
}

.container1 .accordion1, .container2 .accordion2, .container3 .accordion3, .container4 .accordion4, .container5 .accordion5, .container6 .accordion6,
.container7 .accordion7, .container8 .accordion8, .container9 .accordion9, .container10 .accordion10, .container11 .accordion11, .container12 .accordion12,
.container13 .accordion13, .container14 .accordion14, .container15 .accordion15, .container16 .accordion16, .container17 .accordion17, .container18 .accordion18,
.container19 .accordion19, .container20 .accordion20, .container21 .accordion21, .container22 .accordion22, .container23 .accordion23 {
    /*padding: 2px;*/ 
    font-weight: bold;
}

/* 'Body' Tables ------------------------------------------------------------------------- */

table {
	font-family:"Noto Sans";
	margin-left:auto; 
    margin-right:auto;
}

td {
	text-align: left;
	padding: 10px;
}

hr {
	max-width: 960px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-top: 20px;
	margin-bottom: 20px;
}

ul {
	padding-left: 20px;
}

.projectTitle {
	font-size: 26px;
	color: #1a89ff;
}

.sectionTitle {
	font-size: 20px;
	color: #1a89ff;
}

.infoHeader {
	text-decoration: underline;
}

.bodyTable img {
	width: 118px;
	height: 118px;
}

/* SKILLS Section Tables ----------------------------------------------------------------- */

#skillsTable {
	width: 780px;
	display: inline-block;
 	border-radius: 5px;
 	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
	border: 1px solid #dadada;
	overflow: hidden;
}

#skillsContent table {
	border-collapse: collapse;
	margin-bottom: 10px;
	width: 100%;
}

#skillsContent th {
	background-color: #f8f8f8;
	border-bottom: 1px solid #dadada;
	line-height: 60px;
	font-weight: normal;
   	font-size: 20px;
}

#skillsContent td {
	text-align: center;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 30px;
}

#skillsContent p {
	line-height: 16px;
	margin-top: 2px;
	margin-left: -50px;
	margin-right: -50px;
}

#skillsContent ul {
	list-style-position: inside;
	text-align: left;
	margin: 0 -45px 20px -45px;
}

#skillsContent td img {
	width: 80px;
}

/* Content ------------------------------------------------------------------------------- */

#portfolioSplash, #aboutSplash, #skillsSplash, #contactSplash {
	height: 100px;
	margin: 0;
	padding: 80px 0 50px 0;
}

#portfolioContent, #aboutContent, #skillsContent, #contactContent { 
	background-color: #fff;
	color: #333333;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	padding: 80px 0 100px 0;
}

#portfolioSplash {
	background: #1a89ff url('../media/UI/tile.png') 10px 20px/50px 50px fixed;
	padding: 80px 0 50px 0;
	margin-top: 60px;
}

#portfolioContent {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 60px;
}

#portfolioContent a:link, #portfolioContent a:visited {
	color: #1460b3;
}

#portfolioContent a:hover {
	color: #73adeb;
}

#portfolioContent a:active {
	color: #abd4ff;
}

#aboutSplash {
	background: #ff1a65 url('../media/UI/tile.png') 10px 20px/50px 50px fixed;
}

#aboutContent {
	text-align: left;
	max-width: 960px;
	padding: 70px 50px 70px 50px;
}

#skillsSplash {
	background: #a31aff url('../media/UI/tile.png') 10px 20px/50px 50px fixed;
}

#skillsContent {
	text-align: center;
	padding-bottom: 76px;
}

#contactSplash {
	background: #1aff8b url('../media/UI/tile.png') 10px 20px/50px 50px fixed;
}

#contactContent {
	text-align: center;
	padding-top: 70px;
	padding-bottom: 72px;
}

#contactContent a:link, #contactContent a:visited {
	color: #14b362;
}

#contactContent a:hover {
	color: #74ebaf;
}

#contactContent a:active {
	color: #acffd5;
}